@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

$buttonWidth: 300px;
$buttonPadding: 40px;
$buttonMargin: 20px;
$navWidth: $buttonWidth + $buttonPadding + $buttonMargin;

//Colors
$color1: #023059;
$color2: #0596A6;
$color3: #03A6A6;
$color4: #F2E2CE;
$color5: #8C0303;
